.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  /* write css */
  
  .playerContainer {
    display: flex;
    width: 90%;
    margin: 0 auto;
    
  }
  
  .playerDisplay {
    width: 80%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .playerAdd {
    width: 20%;
    padding-top: 100px;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100v}